# Requirements for CCLR-DL Project
IPython
collections
data_preparation
evaluation_plot_utils
functools
getopt
graphviz
importlib
keras
lagged_cov_models
logging
math
matplotlib
numpy
os
pandas
pickle
pydot
re
scipy
seaborn
seasonal_cov_models
sklearn
statsmodels
sys
tensorflow
time
torch
tqdm
warnings
