# Requirements for CCLR-DL Project

pandas>=1.3
numpy>=1.21
scipy>=1.7
matplotlib>=3.4
seaborn>=0.11
scikit-learn>=1.0
statsmodels>=0.13
torch>=1.11
darts>=0.24



IPython
collections
data_preparation
evaluation_plot_utils
functools
getopt
graphviz
importlib
keras
lagged_cov_models
logging
math
os
pickle
pydot
re
seasonal_cov_models
sklearn
sys
tensorflow
time
tqdm
warnings
